.body{
    /*background-image: url(https://picsum.photos/id/307/1920/1280);*/
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(holz.jpg);
}

body{
    background-position-x: center;
    background-position-y: top;

    overflow: hidden;

    font-family: Arial;
    text-align: center;
    color: Gainsboro;
}

article{
    position: absolute;
    bottom: 70px;

    left: 0;
    right: 0;
    text-align: center;
}

p{
    margin: 0px;
}

#central-message{
    font-weight: bolder;
    font-size: 80px;
    
    margin-left: 5%;
    margin-right: 5%;
}

#sub-message{
    font-weight: lighter;
    font-size: 30px;
}

.icon{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    color: Gainsboro;
    line-height: 45px;
    font-size: 30px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    border: solid 2px Gainsboro;
    margin: 0.5em;

    animation: rise 2s ease-out;
}

@keyframes rise{
    0%{ 
        transform: translateY(600%); 		
    }
    100%{ 
        transform: translateY(0%); 
    }
}

i:hover{
    
    animation: spin 2s linear infinite;
}

@keyframes spin{
    0%{ 
        transform: rotate(0deg); 		
    }
    100%{ 
        transform: rotate(360deg); 
    }

}

a{
    color: gainsboro;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

footer{
    position: absolute;
    bottom: 15px;

    left: 0;
    right: 0;
    text-align: center;
    font-style: normal;
}


/*Anpassung an Laptop*/
@media only screen and (max-width: 1042px), (max-height: 600px){
    #central-message{
        font-size: 80px;
    }
}

/*Anpassung an Tablet (quer gedreht)*/
@media only screen and (max-width: 1042px){
    #central-message{
        font-size: 80px;
    }
}

/*Anpassung an Tablet (hochkant)*/
@media only screen and (max-width: 788px){
    #central-message{

        
        margin-left: 20%;
        margin-right: 20%;
    }
}

/*Anpassung an Smartphone*/
@media only screen and (max-width: 400px){
    #central-message{
        font-size: 50px;

        
        margin-left: 5%;
        margin-right: 5%;
    }
}