/*
header{
    text-align: right;
    overflow: auto;
}
*/
.body{
    /*background-image: url(https://picsum.photos/id/307/1920/1280);*/
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(holz.jpg);
}

body{
    width: 100%;
    background-position-x: center;
    background-position-y: top;

    overflow: hidden;

    font-family: Arial;
    text-align: center;
    color: Gainsboro;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 1em;
}

.icon{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    color: Gainsboro;
    line-height: 45px;
    font-size: 30px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    border: solid 2px Gainsboro;
    margin: 0.5em;

    animation: icon 2s ease-out;
}

a:hover{
    box-shadow: 2px 2px 2px 2px Gainsboro;
}

.flex{
    display: flex;
    justify-content: center;

}

.flex-item{
    text-align: center;
    
}

#central-message{
    font-weight: bold;
    font-size: 80px;
    
    margin-top: 30%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
    
    animation: central-message 2s ease-out;
}

#sub-message{
    font-size: 30px;
}

@keyframes central-message{
    0%{ 
        transform: translateY(600%); 		
    }
    100%{ 
        transform: translateY(0%); 
    }
}

@keyframes icon{
    0%{ 
        transform: translateY(600%); 		
    }
    100%{ 
        transform: translateY(0%); 
    }
}

/*Anpassung an Tablet (quer gedreht)*/
@media only screen and (max-width: 1042px){
    #central-message{
        color:green;
        font-size: 80px;
    }
}

/*Anpassung an Tablet (hochkant)*/
@media only screen and (max-width: 788px){
    #central-message{
        color:red;
        font-size: 80px;

        margin-left: 20%;
        margin-right: 20%;
    }
}

/*Anpassung an Smartphone*/
@media only screen and (max-width: 400px){
    #central-message{
        color:orange;
        font-size: 80px;
    }
}